  
html, 
body {
  height: 100%;
  background-color: #CCCCC0;
}

.code-header {
  width: 100%;
  background-image: url("../img/back.png");
  background-size: cover;
    min-height: 110px;
    padding: 30px;
    width: 1400px;
}

.logo {
  padding-left: 50px;
}

.sidebar {
    padding-left: 40px;
    padding-top: 20px;
    background-color: #333333;
    min-height: 550px;
}

.btn {
  margin-top: 10px;
  width: 150px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.btn-prim {
  -webkit-transition-duration: 0.4s;
  background-color: #990000;
  border-color: #990000;
  color: white;
}

.btn-prim:hover {
  background-color: #800000;
  border-color: #800000;
  color: white;
}
