{% extends "codeit/header.html" %}

{% block content %}

	<h1> Search Please!! </h1>
	<form type="get" method="get" style="margin: 0">
	    {% csrf_token %}
	    <div class="form-group" >
	        <label for="title_box">Title</label>
            <input id="title_box" class="form-control" type="text" name="title_box"  placeholder="Search..." >
        </div>
        <div class="form-group">
	        <label for="problem_box">Problem</label>
            <input  id="problem_box" class="form-control" type="text" name="problem_box"  placeholder="Search..." >
        </div>
        <div class="form-group">
	        <label for="input_box">Input</label>
            <input  id="input_box" class="form-control" type="text" name="input_box"  placeholder="Search..." >
        </div>
        <div class="form-group">
	        <label for="output_box">Output</label>
            <input  id="output_box" class="form-control" type="text" name="output_box"  placeholder="Search..." >
        </div>
        <div class="form-group">
	        <label for="time_limit_box">Time Limit</label>
            <input  id="time_limit_box" class="form-control" type="text" name="time_limit_box"  placeholder="Search..." >
        </div>
        <button id="search_submit" class="btn btn-primary" type="submit" >Search</button>
    </form>

{% endblock %}