{% extends "codeit/header.html" %}

{% block content %}

<div class="row" style='margin: 40px;'>
    <div class="col-md-4" style='margin-top: 20px;'>
        <div class="card" style="width: 14rem;">
          <div class="card-img-top">
              <center>
                  <img src="../../static/codeit/img/dsl.jpg" alt="Card image cap">
              </center>
          </div>
          <div class="card-body">
            <h5 class="card-title">Douglas Soares</h5>
            <p class="card-text" style="height: 80px;">"Dando às Palavras um RG..."</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Responsável por Extrator e Indexador</li>
          </ul>
          <div class="card-body">
            <a target="_blank" href="https://github.com/dslcin" class="card-link">Github</a>
            <a target="_blank" href="https://www.facebook.com/douglas.soares.7792" class="card-link">Facebook</a>
          </div>
        </div>
    </div>
    
    <div class="col-md-4" style='margin-top: 20px;'>
        <div class="card" style="width: 14rem;">
          <div class="card-img-top">
              <center>
                  <img class="card-img-top" src="../../static/codeit/img/joc.jpg" alt="Card image cap">
              </center>
          </div>
          <div class="card-body">
            <h5 class="card-title">Jônatas de Oliveira</h5>
            <p class="card-text" style="height: 80px;">Quero Férias!!!</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Responsável por Classificador e Front-end</li>
          </ul>
          <div class="card-body">
            <a target="_blank" href="https://github.com/JonatasDeOliveira" class="card-link">Github</a>
            <a target="_blank" href="https://www.facebook.com/jonatas.oliveira.58555" class="card-link">Facebook</a>
          </div>
        </div>
    </div>
    
    <div class="col-md-3" style='margin-top: 20px;'>
        <div class="card" style="width: 14rem;">
          <div class="card-img-top">
              <center>
                  <img src="../../static/codeit/img/vrvs.png" alt="Card image cap">
              </center>
          </div>
          <div class="card-body">
            <h5 class="card-title">Valdemiro Vieira</h5>
            <p class="card-text" style="height: 80px;">Programmer from Pequi Land</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Responsável por Crawler e Ranker</li>
          </ul>
          <div class="card-body">
            <a target="_blank" href="https://github.com/vrvs" class="card-link">Github</a>
            <a target="_blank" href="https://www.facebook.com/valdemiroo" class="card-link">Facebook</a>
          </div>
        </div>
    </div>
</div>

{% endblock %}