{% extends "codeit/header.html" %}

{% block content %}

    <div class="container" style="margin-top: 20px;">
        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">Friendly Tip</h1>
            <p class="lead text-muted">
                The project consists in an Information Retrieval system in the programming problems context. 
                This domain was choosed based in the fact that a lot of people, in the area of computer science,
                like programming competitions and need a search engine for competition level problems. That's why CODEIT;
                was made!! So search your problem and don't forget to CODEIT... <i class="em em-wink"></i>
            </p>
    
            <!--<p>
              <a href="#" class="btn btn-primary">Main call to action</a>
              <a href="#" class="btn btn-secondary">Secondary action</a>
            </p>-->
          </div>
        </section>
    </div>

{% endblock %}